* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "motserrat", sans-serif;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    background-color: black;
    background: url('../image/dark background.jpg') no-repeat center center fixed;
}
.content-info {
    display: flex;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.card {
    background: #3c4852;
    padding: 0 20px;
    margin: 0 10px;
    width: calc(33% - 20px);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    outline: groove;
    outline-color: #0082e6;
}

.card-icon {
    font-size: 28px;
    background: #0082e6;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px !important;
    border-radius: 50%;
    transition: 0.3s linear;
}

.card:hover .card-icon {
    background: none;
    color: #0082e6;
    transform: scale(1.6);
}

.card p{
    margin-top: 20px;
    font-weight:300;
    letter-spacing: 2px;
    max-height: 0;
    opacity: 0;
    transition: 0.3s linear;
}

.card:hover p{
    max-height: 40px;
    opacity: 1;
}

@media screen and (max-width: 800px){
    .content-info{
        flex-direction: column;
    }
    .card{
        width: 100%;
        max-width: 300px;
         margin: 10px 0;
    }
}

nav {
    background: #0082e6;
    height: 80px;
    width: 100%; 
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 50px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
    z-index: 10;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

    nav ul li a {
        color: white;
        font-size: 17px;
        padding: 0 13px;
        border-radius: 3px;
        text-transform: uppercase;
        float: left;
    }

a.active, a:hover {
    background: #1b9bff;
    transition: .5s;
    text-decoration: none;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    label.logo {
        font-size: 35px;
        padding-left: 30px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 952px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display:grid;
        margin: 50px 0;
        line-height: 30px;       
    }

    nav ul li a {
        font-size: 20px;

    }

    a:hover, a.active {
        background: none;
        color: #0082e6;
    }

    #check:checked ~ ul {
        left: 0;
    }
}

section {
    
    height: calc(100% - 80px);
}

.footer {
    width: 100%;
    padding: 20px 0;
    box-sizing: border-box;
    background-color: #0082e6;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.inner_footer {
    display: block;
    margin: 0 ;
}

.container {
    color: white;
    text-align: center;
}

.img-wrap{width:100%}

.img-wrap img{
    width:100%; 
    padding:1px; 
}

.row {
    background: #3c4852;
    color: #fff;
    padding: 30px 30px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.card2 {
    background: #3c4852;
    padding: 10px 20px;
    margin: 0 20px;
    width: calc(33% - 20px);
    min-height: 200px;
    display: flex;
    flex-direction: column;
    color: #fff;
    outline: groove;
    outline-color: #0082e6;
}

.projImg {
    margin-right: 5.5px;
    margin-left: 5.5px;
    margin-bottom: 5.5px;
    margin-top: 5.5px;
    height:200px;
}

.card2 a {
    position: relative;
    bottom: 0;
    left: 0;
    color: blue;
    text-align:center;
    padding:10px;
}

.card2:hover {
    transform: scale(1.1);
    -webkit-transition: transform 0.5s ease-in-out;
}